/**
 * shyft.js core styles
 * Edit these at your own risk
 */
.shyft-wrapper { position: relative; overflow: hidden; }
.shyft-fade-wrapper { position: absolute; top: 0; bottom: 0; right: 0; left: 0; z-index: 3; }
.shyft-canvas { position: relative; width: 99999px; }
.shyft-item, .shyft-clone { display: block; float: left; line-height: 0; }
.shyft-item img { max-width: 100%; }
.shyft-prev, .shyft-next {position: absolute; z-index: 5; display: inline-block; cursor: pointer; }
.shyft-nav { position: absolute; z-index: 5; }
.shyft-navlink { display: inline-block; cursor: pointer; }


/**  
 * Customizable styles
 * ... Have at it!
 */
 .shyft-wrapper { font-size: 12px; }
 .shyft-prev,
 .shyft-next {
    background-color: #000;
    opacity: .6;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    padding: 10px 15px;    
 }
.shyft-prev:hover,
.shyft-next:hover {
    opacity: .9;
}
.shyft-prev { top: 30px; left: 0; }
.shyft-next { top: 30px; right: 0; }

.shyft-prev.shyft-disabled,
.shyft-next.shyft-disabled {
    position: absolute;
    left: -99999px;
    height: 0;
    width: 0;
}
.shyft-nav {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: .7;
    text-align: right;
}
.shyft-navlink {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
.shyft-navlink-active {
    background-color: #fff;
    color: #000;
}
.shyft-navlink-active-secondary {
    background-color: #555;
    color: #ccc;
}
